@using Bislerium.Data
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bislerium</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<style>
    .nav-item-custom {
        display: flex;
        align-items: center;
        padding: 1rem 1rem; 

    }
</style>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item-custom">
            <NavLink class="nav-link" href="customers" style="color: sandybrown;">
                <span class="bi bi-person-fill" style="color: white;"></span> Customer
            </NavLink>
        </div>
        <div class="nav-item-custom">
            <NavLink class="nav-link" href="customerorder" style="color: sandybrown;">
                <span class="bi bi-clipboard2-check-fill" style="color: white;"></span>Order
            </NavLink>
        </div>
        <div class="nav-item-custom">
            <NavLink class="nav-link" href="users" style="color: sandybrown;">
                <span class="bi bi-people-fill" style="color: white;"></span> Users
            </NavLink>
        </div>
        <div class="nav-item-custom" >
            <NavLink class="nav-link" href="coffee" style="color: sandybrown;">
                <span class="bi bi-cup-fill" style="color: white;"></span> Coffee
            </NavLink>
        </div>
        <div class="nav-item-custom">
            <NavLink class="nav-link" href="add-ins" style="color: sandybrown;">
                <span class="bi bi-plus-circle-fill" style="color: white;"></span> Add-ins
            </NavLink>
        </div>
    </nav>
</div>
@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}